<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
  </configSections>
  <dataConfiguration defaultDatabase="AdventureWorks2012"/>
  <connectionStrings>
    <add name="AdventureWorks2012" connectionString="Server=.;Database=AdventureWorks2012;Integrated Security=SSPI;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    <add name="Write-Only" connectionString="Server=.;Database=Write-Only;Integrated Security=SSPI;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>