USE [master]
GO
/****** Object:  Database [Write-Only]    Script Date: 31.10.2013 22:01:10 ******/
CREATE DATABASE [Write-Only]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Write-Only', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Write-Only.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Write-Only_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Write-Only_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Write-Only].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Write-Only]
GO
/****** Object:  StoredProcedure [dbo].[Rebind]    Script Date: 31.10.2013 22:01:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Rebind]
	@Value bigint
AS
BEGIN
	INSERT INTO Store VALUES (@Value)
END

GO
/****** Object:  StoredProcedure [dbo].[Submit]    Script Date: 31.10.2013 22:01:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Submit]
	@Value bigint
AS
BEGIN
	INSERT INTO Store VALUES (@Value)
END

GO
/****** Object:  Table [dbo].[Store]    Script Date: 31.10.2013 22:01:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[Key] [int] IDENTITY(1,1) NOT NULL,
	[Value] [bigint] NOT NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
